.friendList {
  list-style: none;
  display: grid;
  gap: 10px;
  padding: 0;
  margin: 20px auto 0 auto;
  width: 300px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid darkgrey;
  box-shadow: 2px 2px 4px darkgrey;
}

.status {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.avatar {
  display: block;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 8px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}
