.statistics {
  width: 300px;
  margin: 0 auto;
  
  border: 1px solid darkgrey;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px 0;
}

.statList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  width: 20%;
  background-color: aqua;
  padding: 10px 0;
}

.label {
  display: block;
  color: #fff;
}

.percentage {
  display: block;
  margin-top: 4px;
  color: #fff;
}
